@font-face {
  font-family: "Pixeloid";
  src: url("assets/fonts/PixeloidMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #eaeaea;
  background-color: #333333;
  font-family: "Pixeloid", monospace;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.container {
  display: block;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: auto;
  padding: auto;
}

.sudoku {
  margin: 20px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

canvas {
  image-rendering: pixelated;
}
